numpy
pandas
scikit-learn
requests
beautifulsoup4
python-dotenv
langchain
einops
accelerate
bitsandbytes
faknow
streamlit
gdown
joblib
gensim
nltk
openai
rouge-score
langchain_community
openpyxl
langchain_openai

